# Ignore SQLite database files
*db.sqlite3

# Ignore Django migration files
*/migrations/

#ignore pychache file
*/__pycache__/

myenv/
/.env




media/
"media/" 

cogent-metric-452814-d3-d8353aa929d7.json

