{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
    {% include "products/head.html" %}
{% endblock head %}


<body>

{% block topbar %}

    {% include "products/topbar.html" %}
    
{% endblock topbar %}

{% block navbar %}
        {% include "products/navbar.html" %}
    {% endblock navbar %}

{% block banner %}
    {% include "products/banner.html" %}
{% endblock banner %}



<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->

    
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">New Arrivals</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        {% for item in products_with_images %}
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <a href="{% url 'product_details' item.product.id %}">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="{{ item.image }}" alt="{{ item.product.title }}">
                    </div>
                </a>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">{{ item.product.title }}</h6>
                    <div class="d-flex justify-content-center">
                        <h6>${{ item.product.price }}</h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="{% url 'product_details' item.product.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Customize</a>
                    <a href="" class="btn btn-sm text-dark p-0"><i class="bi bi-heart-fill"></i>Add To Whishlist</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

        {% block pagination %}
            {% include "products/pagination.html" %}
        {% endblock pagination %}
   
</div>



{% block footer %}
    {% include "products/footer.html" %}
{% endblock footer %}



    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>



</body>

</html> 