
<!-- related products -->
<div class="container-fluid py-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">You May Also Like</span></h2>
    </div>

    <div class="row px-xl-5">
        {% for related_product in related_products_with_images %}
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <a href="{% url 'product_details' related_product.product.id %}">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="{{ related_product.image }}" alt="{{ related_product.product.title }}">
                    </div>
                </a>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">{{ related_product.product.title }}</h6>
                    <div class="d-flex justify-content-center">
                        <h6>${{ related_product.product.price }}</h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="{% url 'product_details' related_product.product.id %}" class="btn btn-sm text-dark p-0">
                        <i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                    <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                </div>
            </div>
        </div>
        {% empty %}
            <p>No related products available.</p>
        {% endfor %}
    </div>
</div>
<!-- related products e