<div class="col-lg-3 col-6 d-flex justify-content-between align-items-center">
    <div class="d-flex">
        <a href="{% url "wishlist" %}" class="btn border me-2">
            <i class="fas fa-heart text-primary"></i>
            <span class="badge">{{wishlist_count}}</span>
        </a>
        <a href="{% url "cart" %}" class="btn border">
            <i class="fas fa-shopping-cart text-primary"></i>
            <span class="badge">{{ cart_count }}</span>
        </a>
    </div>
    <a >
        {{username}}
    </a>

    <a href="{% url "profile" %}">Profile</a>
</div>
