<!DOCTYPE HTML>
<html lang="en">
    {% block head %}
    {% include "admin/head.html" %}
{% endblock head %}

<body>       
    <div class="screen-overlay"></div>
   
        
    {% block aside %}
        {% include 'admin/aside.html' %}
    {% endblock aside %}

    <main class="main-wrap">

        
    {% block header %}
        {% include "admin/header.html" %}
    {% endblock header %}


        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List</h2>
                </div>
                <div>
                    <form method="get" action="{% url 'orders_list' %}" id="filter-form">
                        <input type="text" name="order_id" placeholder="Search order ID" class="form-control bg-white" value="{{ order_id_search }}" oninput="submitForm()">
                    </form>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" name="search" placeholder="Search by customer" class="form-control" form="filter-form" value="{{ search_query }}" oninput="submitForm()">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select name="status" class="form-select" form="filter-form" onchange="submitForm()">
                                <option value="">Status</option>
                                <option value="pending" {% if status_filter == 'pending' %}selected{% endif %}>Pending</option>
                                <option value="processing" {% if status_filter == 'processing' %}selected{% endif %}>Processing</option>
                                <option value="shipped" {% if status_filter == 'shipped' %}selected{% endif %}>Shipped</option>
                                <option value="delivered" {% if status_filter == 'delivered' %}selected{% endif %}>Delivered</option>
                                <option value="cancelled" {% if status_filter == 'cancelled' %}selected{% endif %}>Cancelled</option>
                                <!-- New Return Statuses -->
                                <option value="return" {% if status_filter == 'return' %}selected{% endif %}>Return</option>
                                <option value="payment_failed" {% if order.status == 'payment_failed' %}selected{% endif %}>Payment Failed</option>
                                <option value="return_cancelled" {% if status_filter == 'return_cancelled' %}selected{% endif %}>Return Cancelled</option>
                                <option value="return_completed" {% if status_filter == 'return_completed' %}selected{% endif %}>Return Completed</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>{{ order.id }}</td>
                                    <td><b>{{ order.customer.username }}</b></td>
                                    <td>{{ order.customer.email }}</td>
                                    <td>${{ order.total_price }}</td>
                                    <td>
                                        {% if order.status == 'pending' %}
                                            <span class="badge rounded-pill alert-warning">Pending</span>
                                        {% elif order.status == 'processing' %}
                                            <span class="badge rounded-pill alert-info">Processing</span>
                                        {% elif order.status == 'shipped' %}
                                            <span class="badge rounded-pill alert-primary">Shipped</span>
                                        {% elif order.status == 'delivered' %}
                                            <span class="badge rounded-pill alert-success">Delivered</span>
                                        {% elif order.status == 'cancelled' %}
                                            <span class="badge rounded-pill alert-danger">Cancelled</span>
                                        {% elif order.status == 'return' %}
                                            <span class="badge rounded-pill alert-warning">Return</span>
                                        {% elif order.status == 'return_cancelled' %}
                                            <span class="badge rounded-pill alert-danger">Return Cancelled</span>
                                        {% elif order.status == 'return_completed' %}
                                            <span class="badge rounded-pill alert-success">Return Completed</span>
                                        
                                        {% elif order.status == 'payment_failed' %}
                                            <span class="badge rounded-pill alert-danger">Payment Failed</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ order.created_at|date:"d.m.Y" }}</td>
                                    <td class="text-end">
                                        <a href="{% url 'order_details' order.id %}" class="btn btn-md rounded font-sm">Detail</a>
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="{% url 'order_details' order.id %}">View detail</a>
                                                <a class="dropdown-item" href="#">Edit info</a>
                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="assets/js/main.js" type="text/javascript"></script>
    <script>
        function submitForm() {
            document.getElementById('filter-form').submit();
        }
    </script>
</body>
</html>