<!DOCTYPE HTML>
<html lang="en">
{% load static %}
{% block head %}
    {% include "admin/head.html" %}
{% endblock head %}

<body>       
    <div class="screen-overlay"></div>
   
    {% block aside %}
        {% include 'admin/aside.html' %}
    {% endblock aside %}

    <main class="main-wrap">
        {% block header %}
            {% include "admin/header.html" %}
        {% endblock header %}

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: {{ order.id }}</p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b>{{ order.created_at|date:"D, M d, Y, h:i A" }}</b>
                            </span> <br>
                            <small class="text-muted">Order ID: {{ order.id }}</small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <form method="post" action="{% url 'order_details' order.id %}">
                                {% csrf_token %}
                                <select name="status" class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                                    <option value="">Change status</option>
                                    <option value="pending" {% if order.status == 'pending' %}selected{% endif %}>Pending</option>
                                    <option value="processing" {% if order.status == 'processing' %}selected{% endif %}>Processing</option>
                                    <option value="shipped" {% if order.status == 'shipped' %}selected{% endif %}>Shipped</option>
                                    <option value="delivered" {% if order.status == 'delivered' %}selected{% endif %}>Delivered</option>
                                    <option value="cancelled" {% if order.status == 'cancelled' %}selected{% endif %}>Cancelled</option>
                                    <!-- New Statuses -->
                                    <option value="return" {% if order.status == 'return' %}selected{% endif %}>Return</option>
                                    <option value="return_cancelled" {% if order.status == 'return_cancelled' %}selected{% endif %}>Return Cancelled</option>
                                    <option value="payment_failed" {% if order.status == 'payment_failed' %}selected{% endif %}>Payment Failed</option>
                                    <option value="return_completed" {% if order.status == 'return_completed' %}selected{% endif %}>Return Completed</option>
                                </select>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        {{ order.customer.username }} <br> {{ order.customer.email }} <br> {{ order.customer.phone }}
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: {{ order.shipping_method }} <br> Pay method: {{ order.payment_method }} <br> Status: {{ order.status }}
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        City: {{ order.shipping_address.city }}, {{ order.shipping_address.country }} <br>{{ order.shipping_address.street }} <br> {{ order.shipping_address.pincode }}
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%">Variant</th>
                                            <th width="40%">Customized Content</th>
                                            <th width="20%">Return</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in order_items %}
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    {% if item.product.images.first %}
                                                    <div class="left">
                                                        <img src="{{ item.product.images.first.image.url }}" width="40" height="40" class="img-xs" alt="Item">
                                                    </div>
                                                    {% endif %}
                                                    <div class="info"> {{ item.product.title }} </div>
                                                </a>
                                            </td>
                                            <td> ${{ item.price }} </td>
                                            <td> {{ item.quantity }} </td>
                                            <td>{{ item.variant }}</td>
                                            {% if item.customization %}
                                                {% if item.customization.customization_image %}
                                                <td><img src="{{ item.customization.customization_image.url }}" width="40" height="40" class="img-xs" alt="Customization"></td>
                                                {% else %}
                                                <td>{{ item.customization.customization_text }}</td>
                                                {% endif %}
                                            {% else %}
                                                <td>N/A</td>
                                            {% endif %}
                                            <td>
                                                {% if item.return_status == "return_requested" %}
                                                <form method="post" action="{% url 'order_details' order.id %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="item_id" value="{{ item.id }}">
                                                    <button type="submit" name="return_action" value="approve" class="badge rounded-pill alert-success">Approve</button>
                                                    <button type="submit" name="return_action" value="reject" class="badge rounded-pill alert-danger">Reject</button>
                                                </form>
                                                {% elif item.return_status == "return_approved" %}
                                                <span class="badge bg-success">Return Approved</span>
                                                {% elif item.return_status == "return_rejected" %}
                                                <span class="badge bg-danger">Return Rejected</span>
                                                {% elif item.return_status == "return_completed" %}
                                                <span class="badge bg-secondary">Return Completed</span>
                                                {% endif %}
                                            </td>
                                            <td class="text-end"> ${{ item.get_total_price }} </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
</body>
</html>