{% load static %}
<script src=" {% static "js/admin/dropDown.js" %}" type="text/javascript"></script>
<script src="{% static 'assets/js/vendors/jquery-3.6.0.min.j' %}"></script>
<script src="{% static 'assets/js/vendors/bootstrap.bundle.min.j' %}"></script>
<script src="{% static 'assets/js/vendors/select2.min.j' %}"></script>
<script src="{% static 'assets/js/vendors/perfect-scrollbar.j' %}"></script>
<script src="{% static 'assets/js/vendors/jquery.fullscreen.min.j' %}"></script>
<!-- Main Script -->
<script src="{% static 'assets/js/main.j' %}" type="text/javascript"></script>



