{% load static %}
<!DOCTYPE HTML>
<html lang="en">

{% block head %}
    {% include "products/head.html" %}
{% endblock head %}

<body>

{% block topbar %}
    {% include "users/header_not_search.html" %}
{% endblock topbar %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-secondary">
                <div class="card-header bg-secondary text-white text-center">
                    <h3 class="mb-0">Add New Address</h3>
                </div>
                <div class="card-body">
                    <!-- Display messages -->
                    {% if messages %}
                        <div>
                            {% for message in messages %}
                                <div 
                                    class="alert text-danger {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" 
                                    role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form %}
                            <div class="col-md-6 mb-4">
                                <label for="{{ field.id_for_label }}" class="form-label fw-bold">{{ field.label }}</label>
                                {{ field }}
                           
                            </div>
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary me-2">
                                <i class="bi bi-check-circle"></i> Save Address
                            </button>
                            <a href="{% url 'profile' %}" class="btn btn-outline-secondary">
                                <i class="bi bi-x-circle"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .text-danger {
        color: red;
    }
</style>

</body>
</html>
