{% block head %}
    {% include "admin/head.html" %}
{% endblock head %}

<body>       
    <div class="screen-overlay"></div>
   
        
    {% block aside %}
        {% include 'admin/aside.html' %}
    {% endblock aside %}

    <main class="main-wrap">    
    {% block header %}
        {% include "admin/header.html" %}
    {% endblock header %}
        
        <!-- Add Category Form -->
        <section class="content-main">
            <form method="post" action="{% url 'add_category' %}" enctype="multipart/form-data">
                <div class="row">
                  {% csrf_token %}  
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Add New Category</h2>
                        </div>
                    </div>
                    {% if messages %}
                    <div class="alert-container">
                        {% for message in messages %}
                            <div class="alert 
                                        {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <label for="categories_name" class="form-label">Name</label>
                                    <input type="text" placeholder="Type here" name='name' class="form-control" id="product_name"  required="" >
                                </div>
                                <div class="mb-4">
                                    <label for="categories_name" class="form-label">Description</label>
                                    <textarea placeholder="Type here" name="description" class="form-control" required></textarea>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary">Create category</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
      
    </div> 

     
    </main>
    
   