{% load static %}

{% block head %}
    {% include "products/head.html" %}
{% endblock head %}

<body>

{% block topbar %}
    {% include "products/topbar.html" %}
{% endblock topbar %}

{% block navbar %}
    {% include "products/navbar.html" %}
{% endblock navbar %}

<div class="container-fluid py-5">
    <div class="row">
        <!-- Sidebar Menu -->
        <div class="col-md-3">
            <div class="card border-secondary mb-4">
                <div class="card-header bg-secondary text-white">
                    <h4 class="m-0">Dashboard Menu</h4>
                </div>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action menu-link" id="dashboard-link">
                        <i class="bi bi-speedometer2"></i> Dashboard
                    </a>
                    <a href="#" class="list-group-item list-group-item-action menu-link" id="my-order-link">
                        <i class="bi bi-bag"></i> Orders
                    </a>
                    <a href="#" class="list-group-item list-group-item-action menu-link" id="wallet-link">
                        <i class="bi bi-wallet2"></i> Wallet
                    </a>
                    <a href="#" class="list-group-item list-group-item-action menu-link" id="my-address-link">
                        <i class="bi bi-geo-alt"></i> My Address
                    </a>
                    <a href="#" class="list-group-item list-group-item-action menu-link" id="my-account-link">
                        <i class="bi bi-person-circle"></i> Account Details
                    </a>
                    {% comment %} <a href="#" class="list-group-item list-group-item-action menu-link" id="referral-link">
                        <i class="bi bi-person-plus"></i> Referral
                    </a> {% endcomment %}
                    {% comment %} <a href="#" class="list-group-item list-group-item-action menu-link" id="transaction-link">
                        <i class="bi bi-cash-stack"></i> Transaction
                    </a> {% endcomment %}
                    <a href="{% url 'logout' %}" class="list-group-item list-group-item-action text-danger">
                        <i class="bi bi-box-arrow-right"></i> Logout
                    </a>
                </div>
            </div>
        </div>

        <!-- Profile Content -->
        <div class="col-md-9">
            <div id="address-list-content" style="display: none;">
                {% include "users/profile/address/address_list.html" %}
            </div>
            <div id="orders-list-content" style="display: none;">
                {% include "users/profile/orders/orders_list.html" %}
            </div>
            <div id="dashboard-content" style="display: none;">
                {% include "users/profile/dashboard.html" %}
            </div>
            <div id="wallet-content" style="display: none;">
                {% include "users/profile/wallet.html" %}
            </div>
            <div id="account-details-content" style="display: none;">
                {% include "users/profile/account/account_details.html" %}
            </div>
            <div id="default-profile-content">
                <div class="card border-secondary mb-4">
                    <div class="card-header bg-secondary text-white">
                        <h4 class="m-0">Hello {{ request.user.username }}!</h4>
                    </div>
                    <div class="card-body">
                        <p>From your account dashboard, you can view your <strong>orders</strong>, manage <strong>addresses</strong>, and update your <strong>account details</strong>.</p>
                        <a href="#" class="btn btn-primary">Update Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('my-address-link').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('default-profile-content').style.display = 'none';
        document.getElementById('orders-list-content').style.display = 'none';
        document.getElementById('dashboard-content').style.display = 'none';
        document.getElementById('wallet-content').style.display = 'none';
        document.getElementById('account-details-content').style.display = 'none';
        document.getElementById('address-list-content').style.display = 'block';
    });

    document.getElementById('my-order-link').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('default-profile-content').style.display = 'none';
        document.getElementById('address-list-content').style.display = 'none';
        document.getElementById('dashboard-content').style.display = 'none';
        document.getElementById('wallet-content').style.display = 'none';
        document.getElementById('account-details-content').style.display = 'none';
        document.getElementById('orders-list-content').style.display = 'block';
    });

    document.getElementById('dashboard-link').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('default-profile-content').style.display = 'none';
        document.getElementById('address-list-content').style.display = 'none';
        document.getElementById('orders-list-content').style.display = 'none';
        document.getElementById('wallet-content').style.display = 'none';
        document.getElementById('account-details-content').style.display = 'none';
        document.getElementById('dashboard-content').style.display = 'block';
    });

    document.getElementById('wallet-link').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('default-profile-content').style.display = 'none';
        document.getElementById('address-list-content').style.display = 'none';
        document.getElementById('orders-list-content').style.display = 'none';
        document.getElementById('dashboard-content').style.display = 'none';
        document.getElementById('account-details-content').style.display = 'none';
        document.getElementById('wallet-content').style.display = 'block';
    });

    document.getElementById('view-wallet-button').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('default-profile-content').style.display = 'none';
        document.getElementById('address-list-content').style.display = 'none';
        document.getElementById('orders-list-content').style.display = 'none';
        document.getElementById('dashboard-content').style.display = 'none';
        document.getElementById('account-details-content').style.display = 'none';
        document.getElementById('wallet-content').style.display = 'block';
    });

    document.getElementById('view-orders-button').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('default-profile-content').style.display = 'none';
        document.getElementById('address-list-content').style.display = 'none';
        document.getElementById('wallet-content').style.display = 'none';
        document.getElementById('dashboard-content').style.display = 'none';
        document.getElementById('account-details-content').style.display = 'none';
        document.getElementById('orders-list-content').style.display = 'block';
    });

    document.getElementById('view-account-button').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('default-profile-content').style.display = 'none';
        document.getElementById('address-list-content').style.display = 'none';
        document.getElementById('wallet-content').style.display = 'none';
        document.getElementById('dashboard-content').style.display = 'none';
        document.getElementById('orders-list-content').style.display = 'none';
        document.getElementById('account-details-content').style.display = 'block';
    });

    document.getElementById('my-account-link').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('default-profile-content').style.display = 'none';
        document.getElementById('address-list-content').style.display = 'none';
        document.getElementById('orders-list-content').style.display = 'none';
        document.getElementById('wallet-content').style.display = 'none';
        document.getElementById('dashboard-content').style.display = 'none';
        document.getElementById('account-details-content').style.display = 'block';
    });

    // Add active class to the selected menu link
    const menuLinks = document.querySelectorAll('.menu-link');
    menuLinks.forEach(link => {
        link.addEventListener('click', function() {
            menuLinks.forEach(link => link.classList.remove('active'));
            this.classList.add('active');
        });
    });
</script>

{% include "products/script.html" %}

</body>
</html>
