{% load static %}
<!DOCTYPE HTML>
<html lang="en">

{% block head %}
    {% include "products/head.html" %}
{% endblock head %}

<body>
    {% block topbar %}
    {% include "users/header_not_search.html" %}
    {% endblock topbar %}
    
    <main>
        <section class="content-main mt-40 mb-40">
            <div class="card mx-auto card-login" style="max-width: 400px; width: 100%;">
                <div class="card-body p-5">
                    <h5 class="card-title mb-3 text-center">Reset Password</h5>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label class="form-label">Enter Your Valid Email email</label>
                            
                        {% if user_email %}
                        <div class="mb-2">
                            <p  style='color:#D19C97;'>{{ user_email }}</p>
                        </div>
                        {% endif %}
                        {% if error %}
                            <div class="alert alert-danger mt-3">
                                {{ error }}
                            </div>
                        {% endif %}
                            <input class="form-control form-control-sm" placeholder="Enter your email" type="email" name="email">
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-sm w-100" style="background-color: #D19C97; border-color: #D19C97; color:white;" >Verify Email</button>
                        </div>

                      
                    </form>
                    
                    
                </div>
            </div>
        </section>
    </main>

    
    

    {% block scripts %}
        {% include "users/scripts.html" %}
    {% endblock scripts %}
</body>

</html>

