{% load static %}
<script src="{% static  'assets/js/vendors/jquery-3.6.0.min.js' %}"></script>
<script src="{% static  'assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
<script src="{% static  'assets/js/vendors/jquery.fullscreen.min.js' %}"></script>
<!-- Main Script -->
<script src="{% static  'assets/js/main.js' %}" type="text/javascript"></script>
<script src=" {% static "js/HideSee.js"     %}"  type="text/javascript" ></script>
<script src=" {% static "js/TimeCounter.js" %}" type="text/javascript"></script>